.page-wrap {
    display: flex;
}

.main-content {
    padding: 10px;
    order: 2;
    width: 700px;
    background: white;
    flex-shrink: 0;
}

.main-ad1 {
    order: 1;
    width: 240px;
    background: #ccc;
    flex-grow: 1;
}

.main-ad2 {
    order: 4;
    width: 240px;
    background: #ccc;
    flex-grow: 1;
}

.main-sidebar {
    padding: 10px;
    order: 3;
    width: 200px;
    background: #202020;
    flex-shrink: 0;
}

body {
    padding: 0px;
    background: #79a693;
}

* {
    -webkit-box-sizing: border-box;
}

.row {
    padding: 10px;
    width: 100%;
    color: #909090;
    background-color: #101010;
}

.main-content .row:nth-child(odd) {
    background-color: #202020;
}

.article--image {
    float: left;
    padding-right: 10px;
}

.link {
    cursor: pointer;
    text-decoration: none;
}

.link-default {
    color: yellow;
}

.link--alt {
    color:#909090;
}

.article-rank {
    position: relative;
    float: right;
}

.menu-btn {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    color: white;
    text-decoration: none;
    cursor: pointer;
    width: 120px;
    background-color: #808080;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.block {
    padding: 0px;
    margin-bottom: 20px;
    border: 1px solid #909090;
}

.block-title {
    background-color:green;
    color: white;
}

.block-footer{
    text-align: right;
}

.arrow-down {
    margin-left: 8px;
    margin-bottom: 8px;
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid green;
}