* {
    -webkit-box-sizing: border-box;
}

body {
    background: #101010;
    display: flex;
    flex-flow: row nowrap;
}

/* Main order */
.page-ad1       { order: 1; }
.page-content   { order: 2; }
.page-ad2       { order: 3; }

/* Content order */
.main-header    { order: 1; }
.main-content   { order: 2; }
.main-footer    { order: 3; }

/* main-content order */
.main-content-section   { order: 1; }
.main-content-sidebar   { order: 2; }

.page-ad1 {
    min-width: 0px;
    background: #ccc;
    flex-grow: 1;
}

.page-ad2 {
    min-width: 0px;
    background: #ccc;
    flex-grow: 1;
}

.page-content {
    display: flex;
    flex-flow: column nowrap;
}

.main-header {
    min-width: 700px;
    background: #101010;
    flex-shrink: 0;
    flex-grow: 0;
}

.main-footer {
    padding: 20px;
    color: white;
    background-color: black;
}

.main-content   {
    display: flex;
    flex-flow: row nowrap;
}

.main-content-section {
    padding: 10px;
    width: 800px;
    background: white;
    flex-shrink: 0;
    flex-grow: 0;
}

.main-content-sidebar {
    padding: 10px;
    width: 200px;
    background: #202020;
    flex-shrink: 0;
    flex-grow: 0;
}

.row {
    padding: 10px;
    width: 100%;
    color: #909090;
    background-color: #101010;
}

.row:nth-child(odd) {
    background-color: #202020;
}

.article--image {
    float: left;
    padding-right: 10px;
}

.link {
    cursor: pointer;
    text-decoration: none;
}

.link-default {
    color: yellow;
}

.link--alt {
    color:#909090;
}

.article-rank {
    position: relative;
    float: right;
}

.menu-btn {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    color: white;
    text-decoration: none;
    cursor: pointer;
    width: 120px;
    background-color: #808080;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.menu-btn-header {
    font-size: 12px;
    color: black;
    width: 100px;
}

.submenu {
    background-color: green;
}

.block {
    padding: 0px;
    margin-bottom: 20px;
    border: 1px solid #909090;
}

.block-title {
    background-color:green;
    color: white;
}

.block-footer{
    text-align: right;
}

.arrow-down {
    margin-left: 8px;
    margin-bottom: 8px;
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid green;
}